<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <form id="login-form" method="post">
            <div>
                <label for="">Username</label>
                <input type="email" name="username" required value="">
            </div>
            <div>
                <label for="">Password</label>
                <input type="password" name="password" required value="">
            </div>
            <div>
                <input type="submit" name="register" value="Register">
                <input type="submit" name="login" value="Log In">
            </div>
        </form>
        <div id="error">
            {{.Error}}
        </div>
    </body>
</html>